---
import Layout from "../layouts/Layout.astro"
import "../styles/styles.css"
---

<Layout title="Bienvenido a Astro.">
  <main>
    <h1>
      Bienvenidos a el nuevo proyecto <span class="text-gradient">Astro</span>
    </h1>
  </main>
</Layout>
